@media (max-width: 576px) {
	.banner {
		position: relative;
		width: 100vw;
		height: 100vh;
	}

	.banner__image {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.banner__image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	.banner__content {
		width: 100%;
		position: absolute;
		bottom: 0;
		text-align: right;
		padding: 3rem 2rem;
	}

	.banner__text {
		margin-bottom: 2rem;
		text-shadow: 0 0 15px rgba(255, 255, 255, 1),
		0 0 10px rgba(0, 0, 0, 1),
		0 0 5px rgba(255, 255, 255, 1);
		color: #1f1f1f;
		font-size: 1.8rem;
		font-weight: 500;
	}

	.banner__text p {
		margin-bottom: 0;
		width: 100%;
	}

	.banner__button {
		background-color: #191919;
		color: whitesmoke;
		padding: 1rem 2rem;
		border: 1px solid #212529;
		text-decoration: none;
		display: inline-block;
	}

	.banner__button:hover {
		color: whitesmoke;
	}

	.banner--center .banner__image img {
		object-position: center;
	}

	.banner--left .banner__image img {
		object-position: right;
	}

	.banner--right .banner__image img {
		object-position: left;
	}
}

@media (min-width: 576px) {
	.banner {
		position: relative;
		width: 100vw;
		height: 100vh;
	}

	.banner__image {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.banner__image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	.banner__content {
		width: 100%;
		padding: 0 5vw;
		position: absolute;
		bottom: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.banner__text {
		text-shadow: 0 0 15px rgba(255, 255, 255, 1),
		0 0 10px rgba(0, 0, 0, 1),
		0 0 5px rgba(255, 255, 255, 1);
		color: #1f1f1f;
		font-size: 1.6rem;
		font-weight: 500;
	}

	.banner__text p {
		margin-bottom: 0;
		width: 100%;
	}

	.banner__button {
		background-color: #191919;
		color: whitesmoke;
		padding: .8rem 2rem;
		border: 1px solid #212529;
		text-decoration: none;
		display: inline-block;
	}

	.banner__button:hover {
		color: whitesmoke;
	}

	.banner--left .banner__content {
		flex-direction: row-reverse;
	}

	.banner--left .banner__text {
		text-align: left;
	}

	.banner--center .banner__content {
		transform: translate(50%, -50%);
		right: 50%;
		text-align: center;
	}

	.banner--center .banner__text {
		text-align: center;
	}
}

@media (min-width: 768px) {
	.banner {
		position: relative;
		width: 100vw;
		height: 100vh;
		max-height: 600px;
	}

	.banner__image {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.banner__image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	.banner__content {
		width: 100%;
		padding: 0 5vw;
		position: absolute;
		bottom: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.banner__text {
		text-shadow: 0 0 15px rgba(255, 255, 255, 1),
		0 0 10px rgba(0, 0, 0, 1),
		0 0 5px rgba(255, 255, 255, 1);
		color: #1f1f1f;
		font-size: 2rem;
		font-weight: 500;
	}

	.banner__text p {
		margin-bottom: 0;
		width: 100%;
	}

	.banner__button {
		background-color: #191919;
		color: whitesmoke;
		padding: 1rem 2rem;
		border: 1px solid #212529;
		text-decoration: none;
		display: inline-block;
	}

	.banner__button:hover {
		color: whitesmoke;
	}

	.banner--left .banner__content {
		flex-direction: row-reverse;
	}

	.banner--left .banner__text {
		text-align: left;
	}

	.banner--center .banner__content {
		transform: translateX(50%);
		right: 50%;
		text-align: center;
	}

	.banner--center .banner__text {
		text-align: center;
	}

	.banner--center .banner__image img {
		object-position: center;
	}

	.banner--left .banner__image img {
		object-position: right;
	}

	.banner--right .banner__image img {
		object-position: left;
	}
}

@media (min-width: 992px) {
	.banner {
		position: relative;
		width: 100vw;
		height: 100vh;
		max-height: 100vh;
	}

	.banner__image {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.banner__image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	.banner__content {
		width: auto;
		display: block;
		position: absolute;
		bottom: 20%;
	}

	.banner__text {
		margin-bottom: 2rem;
		text-shadow: 0 0 15px rgba(255, 255, 255, 1),
		0 0 10px rgba(0, 0, 0, 1),
		0 0 5px rgba(255, 255, 255, 1);
		color: #1f1f1f;
		font-size: 2rem;
		font-weight: 500;
	}

	.banner__text p {
		margin-bottom: 0;
	}

	.banner__button {
		background-color: #191919;
		color: whitesmoke;
		padding: 1rem 2rem;
		border: 1px solid #212529;
		text-decoration: none;
		display: inline-block;
		transition: all .1s;
	}

	.banner__button:hover {
		color: whitesmoke;
		transform: scale(1.1);
	}

	.banner--left .banner__content {
		left: 10vw;
		text-align: left;
	}

	.banner--left .banner__text {
		text-align: left;
	}

	.banner--right .banner__content {
		right: 10vw;
		text-align: right;
	}

	.banner--right .banner__text {
		text-align: right;
	}

	.banner--center .banner__content {
		display: flex;
		align-items: center;
		transform: translateX(50%);
		top: auto;
		right: 50%;
		bottom: 5vh;
	}

	.banner--center .banner__text {
		text-align: right;
		margin-bottom: 0;
		margin-left: 3.2rem;
	}
}
