@media (max-width: 576px) {
	.t-header {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		margin: 0;
		z-index: 250;
	}

	.t-header__row {
		z-index: 100;
		position: relative;
		padding: .8rem 0;
		display: flex;
		justify-content: center;
		background-color: #fff;
	}

	.t-header__logo-container {
		padding: .2rem;
		border-top: .2rem solid #515151;
		border-bottom: .2rem solid #515151;
	}

	.t-header__logo {
		width: 7.2rem;
	}

	.t-header__right,
	.t-header__left {
		position: absolute;
		top: .25rem;
		bottom: .25rem;
		display: flex;
		align-items: stretch;
	}

	.t-header__right {
		right: .25rem;
	}

	.t-header__left {
		left: .25rem;
	}

	.t-header__action {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.t-header__action-btn,
	.t-header__action-a {
		line-height: 1;
		background-color: transparent;
		padding: .4rem;
		border: 0;
		outline: none;
		font-size: 2rem;
		color: #515151;
		text-decoration: none;
	}

	.t-header__action-a:hover {
		color: #515151;
	}

	.t-header__action-badge {
		position: absolute;
		top: 0;
		right: 0;
		padding: .1rem .2rem;
		border-radius: 10px;
		background-color: red;
		color: #ffffff;
		font-size: .8rem;
		font-weight: 500;
	}

	.t-header__links {
		display: none;
	}

	.t-nav {
		position: absolute;
		left: 0;
		top: 100%;
		right: 0;
		padding: 0;
		box-shadow: 0 7px 8px 0 rgba(0, 0, 0, .08);
		z-index: 99;
		background-color: #fff;
		transition: transform .3s;
		display: flex;
		border-top: 1px solid #e0e0e0;
	}

	.t-nav.not-shown {
		transform: translateY(-100%);
	}

	.t-search {
		flex: 1;
		margin: 0 0 0 1rem;
		display: flex;
		justify-content: center;
		align-items: center;

	}

	.t-search__input-container {
		position: relative;
		width: 100%;
		height: 100%;
		border-left: 1px solid #515151;
	}

	.t-search__input {
		width: 100%;
		height: 100%;
		background-color: transparent;
		outline: none;
		border: 0;
		padding: 0 2.5rem 0 2.3rem;
	}

	.t-search__icon {
		line-height: .8;
		position: absolute;
		top: 2px;
		right: 6px;
		bottom: 2px;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 52;
		color: #515151;
		border: 0;
		padding: .2rem .4rem;
		font-size: 1.2rem;
	}

	.t-search__reset {
		line-height: 1;
		position: absolute;
		top: 2px;
		left: 8px;
		bottom: 2px;
		z-index: 52;
		color: #a1a3a8;
		background-color: transparent;
		border: 0;
		padding: .2rem;
		display: none;
		font-size: 1rem;
	}

	.is-active .t-search__reset {
		display: block;
	}
}
