.t-header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  margin: 0;
  z-index: 234;
}

.t-header > .container,
.t-header > .container-fluid {
  z-index: 100;
  position: relative;
  background-color: #fff;
}
.t-header__row {
  display: flex;
  align-items: center;
  padding: 12px 0;
}
.t-header__right-side {
  display: flex;
  align-items: center;
  flex: 1;
}
.t-header__logo {
  margin-left: 1rem;
}
.t-header__search {
  width: 55%;
  border: 1px solid #ced4da;
  border-radius: 4px;
}
.t-search {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #eee;
}
.t-search__icon {
  right: 4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  z-index: 52;
  color: #a1a3a8;
}
.t-search__reset {
  left: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  z-index: 52;
  color: #a1a3a8;
  border: 0;
  padding: 0;
  display: none;
}
.t-search.is-active > .t-search__reset {
  display: block;
}
.t-search__input {
  width: 100%;
  padding: 14px 45px 14px 10px;
  margin: 0;
  border: 0;
  background-color: transparent;
}
.t-search__input:focus {
  background-color: transparent;
}
.t-header__action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 0 20rem;
}

.t-action__btn {
  background-color: transparent;
  border: 0;
  outline: none;
  color: inherit;
}
.t-action__btn:hover {
  color: inherit;
}
.t-action__btn-cart {
  padding-right: 0.8rem;
  margin-right: 0.7rem;
  border-right: 2px solid #515151;
}

.t-nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 99;
  transition: transform 0.3s;
  box-shadow: 0 7px 8px 0 rgb(0 0 0 / 4%);
  background-color: #fff;
}
.t-nav > .container-fluid {
  padding-left: 5.75rem;
  padding-right: 5.75rem;
}
.t-nav.not-shown {
  transform: translateY(-100%);
}
.t-nav__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 0 0.6rem;
}

.t-nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.t-nav-list__item-container {
  position: relative;
  height: 100%;
  font-size: 14px;
}

.t-nav-list__item {
  text-decoration: none;
  color: #515151;
  padding: 0.5rem 0.2rem;
  margin-left: 20px;
}
.t-nav-list__item:hover {
  text-decoration: none;
}
